
.table > tbody > tr > td, .table > tbody > tr > th {
    border-top: none;
    font-weight: 100;
    font-size: smaller;
    padding: 10px 0;
}

.sidebar-left {
    margin-left: 20px;
    margin-right: 10px;
}

#current-data {
    background: #f5f5f5;
    opacity: 0.7;
    height: 110px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;;
    margin-bottom: 10px;
}

#name-code {
    font-size: 18px;
    height: 50px;
    padding: 13px;
    margin-bottom: 10px;
    background: #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#name {
    margin: 20px auto 0 auto;
}

#inc-dec {
    background: #eeeeee;
    padding: 0;
}

#inc-dec:after {
    width: 10px;
    height: 10px;
    color: #000;
}

#price {
    font-size: 20px;
    margin-left: 15px;
    display: inline;
}

#increase-decrease {
    width: 25px;
    height: 40px;
    display: inline;
}

#inc-dec-num {
    font-size: 18px;
    margin-top: 30px;
    display: inline-block;
}

#inc-dec-rate {
}

#time {
    margin: 15px 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

#data {
    padding-right: 0;
    border: solid 2px #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#data .row {
    margin-top: 15px;
}

#data > .row > .col-md-2, .col-lg-2, .col-md-3, .col-lg-3 {
    padding-right: 0;
    padding-left: 0;
}

.sidebar-right {
    margin-right: 20px;
    margin-left: 20px;
}

.sidebar-right .well {
    padding: 0;
}

.sidebar-right .nav {
    width: 100%;
}

.sidebar-right .nav > li {
    width: 25%;
}

.sidebar-right .nav > li > a {
    padding: 10px 0;
    text-align: center;
}

.sidebar-right .table > thead > tr > th, .table > tbody > tr > td {
    font-weight: 100;
    font-size: 0.8em;
    text-align: center;
}